RETFound_MAE/output_dir/log.txt
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701306292.vivaldi.2652535.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701306732.vivaldi.2656459.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701306828.vivaldi.2658015.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701307119.vivaldi.2661294.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701307311.vivaldi.2663718.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701307372.vivaldi.2664968.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308072.vivaldi.2672684.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308091.vivaldi.2673561.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308199.vivaldi.2675287.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308269.vivaldi.2676871.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308298.vivaldi.2677300.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308873.vivaldi.2683604.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701308920.vivaldi.2684959.0
RETFound_MAE/output_dir./dummy_test/events.out.tfevents.1701309516.vivaldi.2691368.0
